* {
  background-color: rgb(187, 234, 234);
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin:0

}

body {
  min-height: 100dvh;
}
main{
  padding: 150px 150px;
}

.image-container {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  background-color: rgb(101, 202, 245);
}
.image-show{
  width: 150px;
  height: 150px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  background-color: rgb(101, 202, 245);
}